/* 版心 */
.container {
  width: 1040px;
  margin: 0 auto;
}

/* 1.顶部导航 */
nav {
  height: 28px;
  background-color: #545652;
  line-height: 28px;
}

nav .left {
  float: left;
}

nav .right {
  float: right;
}

nav .left a,
nav .right a {
  color: rgba(255, 255, 255, 0.65);
  margin-right: 20px;
}

nav .left a:first-child {
  margin-left: 10px;
}

nav a:hover {
  color: #fff;
}

/* 2.头部 */
header {
  height: 115px;
  background-color: #f0f3f5;
}

.header-top {
  position: relative;
  height: 75px;
  border-bottom: 1px solid #e3e9e2;
  box-sizing: border-box;
}

.header-top span {
  float: left;
  font-size: 28px;
  margin-top: 21px;
  margin-right: 40px;
  color: #258dcd;
  font-weight: bold;
}

.header-top .search-box {
  position: relative;
  float: left;
  width: 492px;
  height: 32px;
  margin-top: 20px;
  background-color: #fff;
}

.header-top .search-box input {
  width: calc(492px - 37px);
  height: 100%;
  border: none;
  font-size: 14px;
  padding-left: 14px;
  box-sizing: border-box;
}

.header-top .search-box i {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 37px;
  height: 100%;
  background-image: url(../img/music_search_icon.png);
  background-size: 37px 32px;
}

.header-top .logo {
  position: absolute;
  top: 14px;
  right: 577px;
}

.header-top .logo img {
  width: 180px;
  height: 92px;
}

.header-nav {
  height: calc(115px - 75px);
}

.header-nav a {
  float: left;
  margin-right: 25px;
  margin-top: 13px;
  font-size: 14px;
  color: #3377aa;
}

.header-nav a:hover {
  background-color: #3377aa;
  color: #fff;
}

/* 3.广告 */
.movie-adv {
  margin-top: 40px;
}

.movie-adv img {
  width: 100%;
}

/* 4.主体 */
.content {
  float: left;
  width: 675px;
}

.hot-reflection {
  margin-top: 5px;
}

.hot-reflection-title {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
}

.hot-reflection-title h4 {
  float: left;
  font-size: 16px;
  font-weight: normal;
  margin-right: 12px;
}

.hot-reflection-title a {
  float: left;
  font-size: 13px;
  color: #3377aa;
  margin-right: 12px;
}

.hot-reflection-show {
  padding-top: 18px;
}

.hot-reflection-show-item {
  float: left;
  margin-right: 25px;
  text-align: center;
}

.hot-reflection-show-item:last-child {
  margin-right: 0;
}

.hot-reflection-show-item a {
  display: block;
  height: 161px;
  overflow: hidden;
  margin-bottom: 12px;
}

.hot-reflection-show-item img {
  vertical-align: middle;
  width: 115px;
}

.hot-reflection-show-item h5 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 12px;
}

.hot-reflection-show-item span {
  display: block;
  width: 90px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #268dcd;
  color: #fff;
  border-radius: 3px;
  margin-left: 10px;
}

.main-adv {
  margin-top: 56px;
}

.main-adv img {
  width: 100%;
}

.popular-movie {
  margin-top: 12px;
}

.popular-movie-title {
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
}

.popular-movie-title h4 {
  float: left;
  font-size: 16px;
  font-weight: normal;
  margin-right: 13px;
}

.popular-movie-title span {
  float: left;
}

.popular-movie-title a {
  float: left;
  color: #999;
  margin-left: 15px;
}

.popular-movie-show {
  padding-top: 18px;
}

.popular-movie-show-item {
  float: left;
  margin-right: 25px;
  text-align: center;
}

.popular-movie-show-item:nth-child(5n) {
  margin-right: 0;
}

.popular-movie-show-item a {
  display: block;
  height: 161px;
  overflow: hidden;
  margin-bottom: 5px;
}

.popular-movie-show-item img {
  vertical-align: middle;
  width: 115px;
}

.popular-movie-show-item p {
  color: #3377aa;
  font-size: 13px;
  height: 44px;
}

.popular-teleplay {
  margin-top: 43px;
}

.popular-teleplay-title {
  height: 44px;
  line-height: 44px;
  font-size: 13px;
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
}

.popular-teleplay-title h4 {
  float: left;
  font-size: 16px;
  font-weight: normal;
  margin-right: 13px;
}

.popular-teleplay-title span {
  float: left;
}

.popular-teleplay-title a {
  float: left;
  color: #999;
  margin-left: 15px;
}

.popular-teleplay-show {
  padding-top: 18px;
}

.popular-teleplay-show-item {
  float: left;
  margin-right: 25px;
  text-align: center;
}

.popular-teleplay-show-item:nth-child(5n) {
  margin-right: 0;
}

.popular-teleplay-show-item a {
  display: block;
  height: 161px;
  overflow: hidden;
  margin-bottom: 5px;
}

.popular-teleplay-show-item img {
  vertical-align: middle;
  width: 115px;
}

.popular-teleplay-show-item p {
  color: #3377aa;
  font-size: 13px;
  height: 44px;
}

.popular-recommend {
  margin-top: 43px;
}

.popular-recommend h4 {
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
}

.popular-recommend-item {
  display: flex;
  background-color: #f9f9f9;
}

.popular-recommend-item a {
  display: block;
  width: 350px;
}

.popular-recommend-item a img {
  width: 100%;
  height: 240px;
}

.popular-recommend-item .introduce {
  float: right;
  flex: 1;
  margin-top: 50px;
  margin-left: 23px;
}

.popular-recommend-item .introduce h5 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 25px;
}

.popular-recommend-item .introduce p {
  font-size: 13px;
  line-height: 20px;
  color: #999;
  padding-right: 25px;
  box-sizing: border-box;
}

.popular-judge {
  margin-top: 19px;
}

.popular-judge-title {
  height: 52px;
  line-height: 52px;
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
}

.popular-judge-title h4 {
  float: left;
  font-size: 16px;
  font-weight: normal;
  margin-right: 12px;
}

.popular-judge-title a {
  float: left;
  font-size: 13px;
  color: #3377aa;
  margin-right: 12px;
}

.popular-judge-show-item {
  position: relative;
  padding: 20px 0px 25px 83px;
  border-bottom: 1px solid #eaeaea;
}

.popular-judge-show-item i {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 68px;
  height: 102px;
  background-image: url(../upload/popular_judge_show_item_01.webp);
  background-size: 68px;
}

.popular-judge-show-item:nth-child(2) i {
  background-image: url(../upload/popular_judge_show_item_02.webp);
}

.popular-judge-show-item:nth-child(3) i {
  background-image: url(../upload/popular_judge_show_item_03.webp);
}

.popular-judge-show-item:nth-child(4) i {
  background-image: url(../upload/popular_judge_show_item_04.webp);
}

.popular-judge-show-item h5 {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 14px;
}

.popular-judge-show-item h5 a {
  color:#3377aa;
}

.popular-judge-show-item span a:hover,
.popular-judge-show-item h5 a:hover {
  color: #fff;
  background-color: #3377aa;
}

.popular-judge-show-item span {
  color: #666;
  font-size: 13px;
}

.popular-judge-show-item span a {
  color: #666;
  margin-right: 5px;
}

.popular-judge-show-item p {
  margin-top: 12px;
  font-size: 13px;
  line-height: 1.6;
  color: #111;
}

.popular-judge-show-item p small {
  color: #3377aa;
}

.aside {
  float: right;
  width: 300px;
}

.aside-title {
  height: 43px;
  line-height: 43px;
  background-color: #f2f7f6;
  padding-left: 17px;
  border-radius: 3px;
  margin: 20px 0;
  font-size: 13px;
}

.aside-title a {
  color: #3377aa;
}

.aside-title a:hover {
  color: #fff;
  background-color: #3377aa;
}

.aside-adv img {
  width: 100%;
}

.week-list {
  margin-top: 8px;
  margin-bottom: 50px;
}

.week-list-title {
  height: 47px;
  line-height: 47px;
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
}

.week-list-title h4 {
  float: left;
  font-size: 16px;
  font-weight: normal;
  margin-right: 12px;
}

.week-list-title a {
  color: #3377aa;
  font-size: 13px;
}

.week-list-item {
  height: 41px;
  line-height: 41px;
  font-size: 13px;
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
}

.week-list-item span {
  margin-left: 5px;
}

.week-list-item a {
  color: #3377aa;
  margin-left: 4px;
}

.week-list-item a:hover {
  color: #fff;
  background-color: #3377aa;
}

.doulist {
  margin-top: 20px;
}

.doulist h4 {
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: normal;
  border-bottom: 1px solid #eaeaea;
}

.doulist-item {
  height: 52px;
  line-height: 52px;
  font-size: 13px;
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
}

.doulist-item a {
  float: left;
  color: #3377aa;
}

.doulist-item span {
  float: right;
  color: #999;
}

.cooperate {
  margin-top: 26px;
}

.cooperate h4 {
  height: 48px;
  line-height: 48px;
  font-weight: normal;
  font-size: 16px;
  border-bottom: 1px solid #eaeaea;
  box-sizing: border-box;
}

.cooperate-content {
  padding-top: 22px;
  padding-bottom: 3px;
}

.cooperate-content p {
  font-size: 13px;
  margin-bottom: 12px;
}

footer {
  margin-top: 40px;
}

.footer-content {
  border-top: 1px dashed #ddd;
  padding: 6px 0;
  font-size: 13px;
}

footer p {
  float: left;
  color: #999;
}

footer .other-help {
  float: right;
}

.other-help a {
  float: left;
  margin-left: 10px;
  color: #3377aa;
}

.other-help a:hover {
  color: #fff;
  background-color: #3377aa;
}