/* 版心 */
.container {
  width: 1077px;
  margin: 0 auto;
}
/* 1.顶部导航 */
.topnav {
  height: 89px;
}

.topnav-left {
  float: left;
  line-height: 89px;
}

.topnav-left h1 {
  float: left;
  font-size: 26px;
  color: #228a31;
}

.topnav-left i {
  color: #1d8ec9;
}

.topnav-left small {
  color: #f7bf86;
}

.topnav-left input {
  float: left;
  margin-top: 31px;
  margin-left: 28px;
  border: 1px solid #c3c3c3;
  width: 272px;
  height: 32px;
  padding-left: 7px;
  box-sizing: border-box;
}

.topnav-right {
  float: right;
  line-height: 89px;
}

.topnav-right a {
  float: left;
  margin-right: 17.5px;
  font-size: 21px;
  font-weight: 700;
}

.topnav-right a:nth-child(1) {
  color: #584029;
}

.topnav-right a:nth-child(2) {
  color: #1a87cb;
}

.topnav-right a:nth-child(3) {
  color: #f37d00;
}

.topnav-right a:nth-child(4) {
  color: #e95307;
}

.topnav-right a:nth-child(5) {
  color: #11969e;
}

.topnav-right a:nth-child(6) {
  color: #389eac;
}

.topnav-right a:nth-child(7) {
  color: #99d5c4;
  font-size: 25px;
  font-weight: normal;
}

.topnav-right a:nth-child(8) {
  color: #494949;
}

.topnav-right a:nth-child(9) {
  color: #3b8235;
}

/* 2.登录 */
.entry {
  height: 304px;
  background-color: #edf4ed;
  background-image: url(../upload/entry_img.jpg);
  background-repeat: no-repeat;
  background-position: 312px 0px;
  background-size: 690px 304px;
}


/* 3.热点内容 */
.hot-spot {
  height: 583px;
  padding-top: 28px;
  box-sizing: border-box;
}

.hot-spot-content {
  float: left;
  margin-left: 70px;
  width: 651px;
}

.hot-spot-content h2 {
  height: 34px;
  line-height: 34px;
  color: #007722;
  font-size: 16px;
  font-weight: normal;
}

.hot-spot-content .blue {
  color: #3377aa;
  font-size: 12px;
}

.hot-spot-content-bottom-left {
  float: left;
  width: 351px;
  height: 435px;
}

.hot-spot-content-bottom-left-item {
  float: left;
  width: 170px;
  height: 219px;
}

.hot-spot-content-bottom-left-item:nth-child(1),
.hot-spot-content-bottom-left-item:nth-child(3) {
  margin-right: 10px;
}

.hot-spot-content-bottom-left-item p {
  color: #3377aa;
  font-size: 12px;
}

.hot-spot-content-bottom-left-item span {
  color: #999;
}

.hot-spot-content-bottom-right {
  float: right;
}

.hot-spot-content-bottom-right h6 {
  color: #3377aa;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 5px;
}

.hot-spot-content-bottom-right span {
  display: block;
  color: #999;
  margin-bottom: 5px;
}

.hot-spot-content-bottom-right-top {
  font-size: 12px;
  line-height: 1.5;
  color: #666;
}

.hot-spot-content-bottom-right-bottom {
  font-size: 12px;
  line-height: 2.6;
  color: #3377aa;
  margin-top: 8px;
}

.hot-spot-side {
  float: right;
}

.hot-spot-side-img img {
  width: 250px;
  height: 120px;
  margin-top: 15px;
}

.hot-spot-side h6 {
  color: #3b8235;
  font-size: 15px;
  font-weight: 400;
  margin-top: 18px;
  margin-bottom: 14px;
}

.hot-spot-side i {
  color: #3377aa;
  font-size: 12px;
}

.hot-spot-side-item {
  font-size: 14px;
  color: #3377aa;
}

.hot-spot-side-item:hover {
  color: #fff;
  background-color: #3377aa;
}

.hot-spot-side span {
  display: block;
  margin-top: 9px;
  margin-bottom: 17px;
  font-size: 13px;
  color: #999;
}

.hot-spot-side small {
  color: #999;
  font-size: 13px;
}

/* 4.豆瓣时间 */
.time {
  height: 651px;
  background-color: #f7f7f7;
  padding-top: 36px;
  box-sizing: border-box;
}

.time-content {
  margin-left: 65px;
  width: 874px;
  height: 651px;
}

.time-content h2 {
  color: #494949;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 14px;
}

.time-content i {
  color: #007722;
  font-size: 15px;
  margin-left: 36px;
}

.time-content small {
  color: #3377aa;
  font-size: 12px;
}

.time-content-bottom {
  margin-left: 125px;
  width: 753px;
  height: 579px;
}

.time-content-bottom-item {
  float: left;
  width: 100px;
  margin-right: 63px;
  height: 253px;
  text-align: center;
}

.time-content-bottom-item:nth-child(5n) {
  margin-right: 0px;
}

.time-content-bottom-item:nth-child(-n+5) {
  margin-bottom: 25px;
}

.time-content-bottom-item img {
  width: 100px;
  height: 141px;
}

.time-content-item-text {
  color: #333;
  margin-top: 11px;
  font-size: 13px;
  line-height: 1.3;
}

.time-content-item-text:hover {
  color: #fff;
  background-color: #3377aa;
}

.time-content-bottom-item span {
  display: block;
  color: #999;
  font-size: 12px;
  margin-top: 11px;
}

/* 5.电影 */
.movie {
  height: 668px;
  padding-top: 29px;
  box-sizing: border-box;
}

.movie-content {
  margin-left: 67px;
  width: 969px;
  height: 567px;
}

.movie-content-left {
  float: left;
  width: 70px;
  margin-top: 7px;
}

.movie-content-left h2 {
  height: 41px;
  width: 70px;
}

.movie-content-left a {
  color: #2277aa;
  font-size: 22px;
  font-weight: 400;
}

.movie-content-left a:hover {
  color: #fff;
  background-color: #2277aa;
}

.movie-content-left-item li {
  margin-bottom: 11px;
}

.movie-content-left-item a {
  font-size: 14px;
}

.movie-content-right {
  float: left;
  margin-left: 36px;
  width: 863px;
  height: 567px;
}

.movie-content-right-main {
  float: left;
  width: 532px;
  height: 486px;
}

.movie-content-right-main h3 {
  margin-bottom: 4px;
  height: 41px;
  color: #228a31;
  font-size: 15px;
  font-weight: 400;
  line-height: 41px;
}

.movie-content-right-main small {
  color: #3377aa;
  font-size: 12px;
}

.movie-content-right-main-item li {
  float: left;
  margin-left: 33px;
  width: 100px;
  height: 222px;
  text-align: center;
}

.movie-content-right-main-item li:nth-child(-n+4) {
  margin-bottom: 40px;
}

.movie-content-right-main-item a {
  display: block;
}

.movie-content-right-main-item a:nth-child(2) {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.movie-content-right-main-item a:last-child {
  width: 68px;
  height: 22px;
  background-color: #1c8bd0;
  color: #fff;
  font-size: 13px;
  line-height: 22px;
  margin-left: 15px;
}

.movie-content-right-main-item img {
  width: 100px;
  height: 145px;
}

.movie-content-right-class {
  float: left;
  margin-left: 46px;
}

.movie-content-right-class-top {
  width: 285px;
  height: 190px;
  margin-bottom: 20px;
}

.movie-content-right-class-top h3 {
  margin-bottom: 5px;
  color: #3b8235;
  font-size: 17px;
  font-weight: 400;
  height: 41px;
  line-height: 41px;
}

.movie-content-right-class-top small {
  color: #3377aa;
  font-size: 13px;
}

.movie-content-right-class-top-item li {
  float: left;
}

.movie-content-right-class-top-item a {
  display: inline-block;
  color: #3377aa;
  font-size: 13px;
  margin-right: 24px;
  margin-bottom: 11px;
}

.movie-content-right-class-top-item a:hover {
  color: #fff;
  background-color: #3377aa;
}

.movie-content-right-class-bottom {
  width: 267px;
  height: 357px;
}

.movie-content-right-class-bottom h3 {
  font-size: 17px;
  font-weight: 400;
  color: #3b8235;
  margin-bottom: 15px;
}

.movie-content-right-class-bottom small {
  color: #2277aa;
  font-size: 13px;
}

.movie-content-right-class-bottom-item li {
  /* 设置有序列表的样式 */
  list-style-type: decimal;
  list-style-position: inside;
  border-bottom: 1px solid #eaeaea;
  padding: 7px 0px;
}

.movie-content-right-class-bottom-item a {
  color: #3377aa;
  font-size: 13px;
}

.movie-content-right-class-bottom-item a:hover {
  color: #fff;
  background-color: #2277aa;
}

/* 6.小组 */
.group {
  height: 613px;
  padding-top: 36px;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

.group-content {
  margin-left: 67px;
  width: 957px;
  height: 534px;
}

.group-content-left {
  float: left;
}

.group-content-left h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 14px;
}

.group-content-left a {
  color: #017a85;
}

.group-content-left a:hover {
  color: #fff;
  background-color: #2277aa;
}

.group-content-left-item li {
  margin-bottom: 10px;
}

.group-content-left-item a {
  font-size: 14px;
}

.group-content-right {
  float: right;
  width: calc(562px + 270px);
  height: 534px;
}

.group-content-right-main {
  float: left;
  width: 562px;
  height: 534px;
}

.group-content-right-main h3,
.group-content-right-class h3 {
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  color: #007722;
  font-weight: 400;
}

.group-content-right-main small {
  color: #017a85;
  font-size: 12px;
}

.group-content-right-main-bottom {
  width: 562px;
  height: 509px;
  padding-top: 10px;
  box-sizing: border-box;
}

.group-content-right-main-item {
  float: left;
  width: 244px;
  height: 48px;
  margin-bottom: 40px;
  margin-right: 33px;
}

.group-content-right-main-item-left {
  float: left;
}

.group-content-right-main-item-left img {
  width: 48px;
  height: 48px;
}

.group-content-right-main-item-right {
  float: left;
  width: 184px;
  height: 48px;
  margin-left: 11px;
}

.group-content-right-main-item-right a {
  display: inline-block;
  color: #017a85;
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 2px;
}

.group-content-right-main-item-right a:hover {
  color: #fff;
  background-color: #2277aa;
}

.group-content-right-main-item-right span {
  color: #999;
}

.group-content-right-class {
  float: right;
  width: 270px;
  height: 534px;
}

.group-content-right-class-item {
  margin-top: 18px;
}

.group-content-right-class-item-title {
  width: 270px;
  margin-bottom: 9px;
  color: #333;
  font-size: 15px;
}

.group-content-right-class-item li {
  float: left;
  margin-right: 12px;
}

.group-content-right-class-item li:nth-child(8) {
  margin-right: 0px;
}

.group-content-right-class-item a {
  color: #017a85;
}

.group-content-right-class-item a:hover {
  color: #fff;
  background-color: #2277aa;
}

.group-content-right-class-item-title a {
  color: #333;
}

/* 7.读书 */
.read {
  height: 660px;
  padding-top: 36px;
}

.read-content {
  margin-left: 67px;
  width: 955px;
  height: 562px;
}

.read-content-left {
  float: left;
}

.read-content-left h2 {
  font-size: 24px;
  margin-bottom: 17px;
  font-weight: 400;
}

.read-content-left a {
  color: #494949;
}

.read-content-left a:hover {
  color: #fff;
  background-color: #2277aa;
}

.read-content-left-bottom li {
  margin-bottom: 13px;
}

.read-content-left-bottom a {
  font-size: 14px;
}

.read-content-right {
  float: right;
  width: 849px;
  height: 562px;
}

.read-content-right-main {
  float: left;
  width: 532px;
  height: 562px;
}

.read-content-right-main-top,
.read-content-right-main-bottom {
  width: 532px;
  height: 265px;
}

.read-content-right-main-top h3,
.read-content-right-main-bottom h3 {
  height: 25px;
  line-height: 25px;
  color: #228a31;
  font-size: 15px;
  font-weight: 400;
  padding-left: 17px;
  box-sizing: border-box;
}

.read-content-right-main-top small,
.read-content-right-main-bottom small {
  font-size: 13px;
  color: #333;
}

.read-content-right-main-top {
  margin-bottom: 21px;
}

.read-content-right-main-top ul,
.read-content-right-main-bottom ul {
  height: calc(265px - 25px);
  padding-top: 11px;
  box-sizing: border-box;
}

.read-content-right-main-top-item,
.read-content-right-main-bottom-item {
  float: left;
  margin-left: 33px;
  text-align: center;
}

.read-content-right-main-top-item img,
.read-content-right-main-bottom-item img {
  height: 148px;
  width: 100px;
}

.read-content-right-main-top-item div,
.read-content-right-main-bottom-item div {
  margin-top: 14px;
  margin-bottom: 8px;
  font-size: 12.5px;
}

.read-content-right-main-top-item p,
.read-content-right-main-bottom-item p {
  margin-bottom: 5px;
}

.read-content-right-main-top-item span,
.read-content-right-main-bottom-item span {
  display: block;
  width: 68px;
  height: 23px;
  color: #fff;
  background-color: #999a95;
  margin-left: 16px;
  line-height: 23px;
}

.read-content-right-main-top-item span:hover,
.read-content-right-main-bottom-item span:hover {
  background-color: #53534e;
}

.read-content-right-main-top-item-title a:hover,
.read-content-right-main-bottom-item-title a:hover {
  color: #fff;
  background-color: #2277aa;
}

.read-content-right-class {
  float: right;
  width: 267px;
  height: 562px;
}

.read-content-right-class h3 {
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  color: #228a31;
  font-weight: 400;
}

.read-content-right-class span {
  font-size: 13px;
  color: #333;
}

.read-content-right-class-item {
  height: 61px;
  width: 267px;
  padding: 10px 0px;
  border-top: 1px solid #eaeaea;
  box-sizing: border-box;
}

.read-content-right-class-item li {
  float: left;
  font-size: 12px;
  line-height: 1.7;
  margin-right: 13px;
}

.read-content-right-class-item-label a {
  color: #999;
}

.read-content-right-class-item a:hover {
  color: #fff;
  background-color: #2277aa;
}

/* 8.音乐 */
.music {
  height: 826px;
  background-color: #f7f7f7;
  padding-top: 36px;
  box-sizing: border-box;
}

.music-content {
  width: 956px;
  height: 769px;
  margin-left: 67px;
}

.music-content-left {
  float: left;
}

.music-content-left a {
  color: #f38c00;
}

.music-content-left a:hover {
  color: #fff;
  background-color: #2277aa;
}

.music-content-left h2 {
  font-size: 24px;
  margin-bottom: 17px;
  font-weight: 400;
}

.music-content-left-item {
  font-size: 14px;
}

.music-content-left-item li {
  margin-bottom: 11px;
}

.music-content-left-item a {
  color: #555d53;
}

.music-content-right {
  float: left;
  width: calc(559px + 206px);
  height: 769px;
  margin-left: 36px;
}

.music-content-right-new {
  float: left;
  width: 559px;
  height: 769px;
}

.music-content-right-new-top {
  width: 559px;
}

.music-content-right-new-top h3,
.music-content-right-new-bottom h3 {
  height: 30px;
  line-height: 30px;
  color: #228a31;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 7px;
}

.music-content-right-new-top small,
.music-content-right-new-bottom small {
  font-size: 13px;
  color: #333;
}

.music-content-right-new-top ul {
  width: 559px;
  height: calc(410px - 30px);
}

.music-content-right-new-top-item {
  float: left;
  width: 106px;
  height: 149px;
  text-align: center;
  margin-right: 29px;
  font-size: 12px;
}

.music-content-right-new-top-item:nth-child(-n+4) {
  margin-bottom: 62px;
}

.music-content-right-new-top-item img,
.music-content-right-new-bottom-item img {
  width: 80px;
  height: 80px;
}

.music-content-right-new-top-item p {
  line-height: 1.7;
  margin-top: 7px;
  margin-bottom: 7px;
  color: #555d53;
}

.music-content-right-new-top-item span {
  color: #555d53;
}

.music-content-right-new-bottom {
  width: 559px;
}

.music-content-right-new-bottom ul {
  width: 559px;
  height: calc(351px - 30px);
}

.music-content-right-new-bottom-item {
  float: left;
  width: 123px;
  height: 134px;
  text-align: center;
  margin-right: 9px;
  font-size: 12.5px;
}

.music-content-right-new-bottom-item:nth-child(-n+4) {
  margin-bottom: 40px;
}

.music-content-right-new-bottom-item p {
  line-height: 1.7;
  margin-top: 10px;
}

.music-content-right-popular {
  float: right;
  width: 206px;
}

.music-content-right-popular h3 {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #228a31;
  margin-bottom: 11px;
}

.music-content-right-popular small {
  color: #333;
  font-size: 12px;
}

.music-content-right-popular-item {
  width: 206px;
  height: 60px;
  margin-bottom: 17px;
}

.music-content-right-popular-item img,
.music-content-right-popular-item span {
  float: left;
}

.music-content-right-popular-item span {
  margin-right: 9px;
}

.music-content-right-popular-item-introduce {
  float: left;
  margin-left: 10px;
  font-size: 12.5px;
}

.music-content-right-popular-item-introduce a {
  color: #555d53;
}

.music-content-right-popular-item-introduce a:hover {
  color: #fff;
  background-color: #2277aa;
}

.music-content-right-popular-item-introduce p {
  color: #999;
  margin-top: 12px;
  line-height: 1.5;
}

/* 9.豆品 */
.product {
  height: 679px;
  padding-top: 28px;
  box-sizing: border-box;
}

.product-content {
  width: 953px;
  margin-left: 69px;

}

.product-content-left {
  float: left;
  width: 644px;
  height: 612px;
}

.product-content-left h2 {
  height: 47px;
  line-height: 47px;
  font-weight: 400;
}

.product-content-left-title a {
  font-size: 24px;
  color: #1f9432;
  margin-right: 70px;
}

.product-content-left-title a:hover {
  color: #fff;
  background-color: #2277aa;
}

.product-content-left-title i {
  font-size: 15px;
  color: #228a31;
}

.product-content-left-title small {
  font-size: 13px;
  color: #3377a9;
}

.product-content-left ul {
  width: 644px;
  padding-left: 122px;
  box-sizing: border-box;
}

.product-content-left-item {
  float: left;
  width: 240px;
  height: 282px;
  margin-right: 20px;
}

.product-content-left-item-introduce {
  width: 240px;
  height: 20px;
  margin-top: 12px;
}

.product-content-left-item-introduce a {
  float: left;
  color: #3377a9;
  font-size: 15px
}

.product-content-left-item-introduce a:hover {
  color: #fff;
  background-color: #2277aa;
}

.product-content-left-item-introduce span {
  float: right;
  color: #e55457;
  font-size: 15px;
}

.product-content-left-item img {
  width: 240px;
  height: 220px;
}

.product-content-left-item img:hover {
  opacity: 0.8;
}

.product-content-right {
  float: right;
  width: 265px;
}

.product-content-right h3 {
  height: 47px;
  line-height: 47px;
  font-size: 15px;
  color: #228a31;
  font-weight: 400;
}

.product-content-right-sport img {
  width: 265px;
  height: 95px;
}

.product-content-right-sport p {
  margin-top: 7px;
  margin-bottom: 19px;
}

.product-content-right-sport a {
  color: #3377a9;
  font-size: 14px;
}

.product-content-right-sport img:hover {
  opacity: 0.8;
}

.product-content-right-sport p a:hover {
  color: #fff;
  background-color: #2277aa;
}

.product-content-right small {
  font-size: 13px;
  color: #3377a9;
}

/* 10.同城 */
.city {
  height: 396px;
  background-color: #f7f7f7;
  padding-top: 29px;
  box-sizing: border-box;
}

.city-content {
  margin-left: 67px;
  width: 938px;
  height: 336px;
}

.city-content-left {
  float: left;
}

.city-content-left h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}

.city-content-left a {
  color: #ec5303;
}

.city-content-left a:hover {
  color: #fff;
  background-color: #2277aa;
}

.city-content-left-item li {
  margin-bottom: 12px;
}

.city-content-left-item a {
  font-size: 14px;
  color: #664433;
}

.city-content-right {
  float: right;
  width: 816px;
}

.city-content-right-main {
  float: left;
  width: 538px;
}

.city-content-right-main h3 {
  height: 40px;
  line-height: 40px;
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: 400;
  color: #1f9432;
}

.city-content-right-main small {
  color: #664433;
  font-size: 13px;
}

.city-content-right-main-bottom {
  width: 538px;
}

.city-content-right-main-bottom-item {
  float: left;
  width: 244px;
  height: 106px;
  margin-right: 23px;
  margin-bottom: 34px;
}

.city-content-right-main-bottom-img {
  float: left;
}

.city-content-right-main-bottom-item img {
  width: 70px;
  height: 90px;
}

.city-content-right-main-bottom-introduce {
  float: left;
  width: 166px;
  margin-left: 7px;
}

.city-content-right-main-bottom-introduce a {
  font-size: 13px;
  color: #664433;
}

.city-content-right-main-bottom-introduce a:hover {
  color: #fff;
  background-color: #2277aa;
}

.city-content-right-main-bottom-introduce p {
  margin-top: 7px;
  font-size: 12px;
  line-height: 1.5;
  color: #666;
}

.city-content-right-class {
  float: right;
  width: 254px;
}

.city-content-right-class h3 {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 400;
  color: #228a31;
  margin-bottom: 6px;
}

.city-content-right-class-bottom {
  width: 254px;
}

.city-content-right-class-bottom-item {
  width: 254px;
  padding-bottom: 16px;
  box-sizing: border-box;
}

.city-content-right-class-bottom-item li {
  float: left;
  margin-right: 11px;
}

.city-content-right-class-bottom-item a {
  color: #664433;
}

.city-content-right-class-bottom-item a:hover {
  color: #fff;
  background-color: #2277aa;
}

.city-content-right-class-bottom-item-title {
  width: 254px;
  margin-bottom: 7px;
  font-size: 14px;
}

.city-content-right-class-bottom-item-title a {
  color: #333;
}

/* 11.底部 */
.footer {
  height: 181px;
  padding-top: 30px;
  box-sizing: border-box;
}

.footer-content {
  width: 935px;
  margin-left: 69px;
  padding-top: 16px;
  border-top: 1px dashed #e2e2e2;
  box-sizing: border-box;
}

.footer-content-left {
  float: left;
  width: 435px;
}

.footer-content-left p {
  width: 435px;
  font-size: 12.5px;
  line-height: 1.6;
  color: #999;
}

.footer-content-left a {
  color: #3377aa;
  font-size: 13px;
}

.footer-content-left a:hover {
  color: #fff;
  background-color: #2277aa;
}

.footer-content-right {
  float: right;
  width: 413px;
}

.footer-content-right-top {
  width: 413px;
  margin-bottom: 35px;
}

.footer-content-right-top a {
  float: left;
  margin-left: 10px;
  color: #3377aa;
}

.footer-content-right-top a:first-child {
  margin-left: 0px;
}

.footer-content-right-top a:hover {
  color: #fff;
  background-color: #2277aa;
}