.container {
  width: 1099px;
  margin: 0 auto;
}

/* 1.顶部导航 */
nav {
  height: 28px;
  background-color: #545652;
  line-height: 28px;
}

nav .left {
  float: left;
}

nav .right {
  float: right;
}

nav .left a,
nav .right a {
  color: rgba(255, 255, 255, 0.65);
  margin-right: 20px;
}

nav .left a:first-child {
  margin-left: 10px;
}

nav a:hover {
  color: #fff;
}

/* 2.头部 */
header {
  height: 102px;
  line-height: 102px;
}

header .left {
  float: left;
  height: 100%;
  font-size: 26px;
  margin-right: 197px;
}

header .left span {
  color: #44883e;
  font-weight: 550;
}

header .left b {
  color: #d7e6d6;
}

header .center {
  float: left;
  height: 100%;
}

header .center a {
  color: #6e6e6e;
  font-size: 18px;
  margin-right: 29px;
}

header .center a:hover {
  color: #6fa46a;
}

header .right {
  position: relative;
  float: right;
  height: 100%;
  font-size: 15px;
}

header .right span {
  color: #6e6e6e;
}

header .right i {
  position: absolute;
  top: 38px;
  left: -35px;
  width: 24px;
  height: 24px;
  background-image: url(../img/user_large.jpg);
  background-size: 24px 24px;
  border-radius: 50%;
}

header .right .introduce {
  display: none;
  position: absolute;
  top: 71px;
  left: -41px;
  width: 112px;
  border: 1px solid #d8d8d8;
  height: 112px;
  line-height: 1.9;
  text-align: center;
  padding: 15px 5px;
  box-sizing: border-box;
  color: #6e6e6e;
  background-color: #fff;
}

header .right:hover .introduce {
  display: block;
}

/* 3.轮播图 */
.carousel img {
  width: 100%;
}

/* 4.主体 */
main {
  margin-top: 21px;
}
/* 4.1新品首发 */
.new {
  height: 483px;
}

.new h2 {
  height: 100px;
  line-height: 100px;
  font-size: 20px;
  text-align: center;
}

ul .new-item {
  float: left;
  margin-right: 20px;
}

ul .new-item:last-child {
  margin-right: 0;
}

.new-item img {
  width: 353px;
  height: 264px;
}

.new-item img:hover {
  opacity: 0.9;
}

.new-item h4 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 7px;
}

.new-item p {
  font-size: 14px;
  color: #b1b1b1;
  margin-bottom: 7px;
}

.new-item span {
  color: #dd1944;
  font-size: 16px;
}
/* 4.2人气单品 */
.single {
  height: 483px;
}

.single h2 {
  height: 100px;
  line-height: 100px;
  font-size: 20px;
  text-align: center;
}

ul .single-item {
  float: left;
  margin-right: 19px;
}

ul .single-item:last-child {
  margin-right: 0;
}

.single-item img {
  width: 260px;
  height: 260px;
}

.single-item img:hover {
  opacity: 0.9;
}

.single-item h4 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 7px;
}

.single-item p {
  font-size: 14px;
  color: #b1b1b1;
  margin-bottom: 7px;
}

.single-item span {
  color: #dd1944;
  font-size: 16px;
}
/* 4.3小轮播图 */
.classical {
  height: 587px;
  padding-bottom: 83px;
  box-sizing: border-box;
}

.classical-title {
  height: 86px;
  line-height: 86px;
}

.classical-title h5 {
  float: left;
  font-size: 16px;
}

.classical-title span {
  float: right;
  color: #b1b1b1;
  font-size: 14px;
}

.classical img {
  width: 100%;
}
/* 4.4更多商品展示 */
.more {
  height: 456px;
}

.more-title {
  height: 67px;
  line-height: 67px;
}

.more-title h2 {
  float: left;
  font-size: 20px;
  margin-right: 18px;
}

.more-title p {
  float: left;
  color: #b1b1b1;
  font-size: 16px;
}

.more-title span {
  float: right;
  font-size: 14px;
  color: #b1b1b1;
}

.more-item li {
  float: left;
  margin-right: 19px;
}

.more-item li:last-child {
  margin-right: 0;
}

.more-item img {
  width: 260px;
  height: 260px;
}

.more-item img:hover {
  opacity: 0.9;
}

.more-item h4 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 7px;
}

.more-item p {
  font-size: 14px;
  color: #b1b1b1;
  margin-bottom: 7px;
}

.more-item span {
  color: #dd1944;
  font-size: 16px;
}
/* 4.5用户测评 */
.evaluation {
  height: 1099px;
}

.evaluation h2 {
  height: 89px;
  font-size: 20px;
  line-height: 89px;
}

.evaluation-left {
  float: left;
  width: 560px;
}

.evaluation-left li {
  float: left;
  width: 260px;
  margin-right: 20px;
  margin-bottom: 45px;
}

.evaluation img {
  width: 260px;
}

.evaluation img:hover {
  opacity: 0.9;
}

.evaluation-left p {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 10px;
}

.evaluation span {
  position: relative;
  padding-left: 25px;
  box-sizing: border-box;
  font-size: 13px;
  color: #6e6e6e;
}

.evaluation span:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url(../upload/user_01.jpg);
  background-size: 20px 20px;
}

.evaluation-item-02 span:before {
  background-image: url(../upload/user_02.jpg);
}

.evaluation-item-03 span:before {
  background-image: url(../upload/user_03.jpg);
}

.evaluation-item-04 span:before {
  background-image: url(../upload/user_04.jpg);
}

.evaluation-item-05 span:before {
  background-image: url(../upload/user_05.jpg);
}

.evaluation-item-06 span:before {
  background-image: url(../upload/user_06.jpg);
}

.evaluation-item-07 span:before {
  background-image: url(../upload/user_07.jpg);
}

.evaluation-item-08 span:before {
  background-image: url(../upload/user_08.jpg);
}

.evaluation-right {
  float: right;
  width: 539px;
}

.evaluation-right li {
  float: left;
  width: 260px;
  margin-right: 19px;
  margin-bottom: 45px;
}

.evaluation-right li:nth-child(2),
.evaluation-right li:nth-child(4) {
  margin-right: 0;
}

.evaluation-right p {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 10px;
}