/* 版心 */
.container {
  width: 1039px;
  margin: 0 auto;
}

/* 1.顶部导航 */
nav {
  height: 28px;
  background-color: #545652;
  line-height: 28px;
}

nav .left {
  float: left;
}

nav .right {
  float: right;
}

nav .left a,
nav .right a {
  color: rgba(255, 255, 255, 0.65);
  margin-right: 20px;
}

nav .left a:first-child {
  margin-left: 10px;
}

nav a:hover {
  color: #fff;
}

/* 2.头部 */
header {
  height: 115px;
  background-color: #f0f3ef;
}

.header-top {
  position: relative;
  height: 75px;
  border-bottom: 1px solid #e3e9e2;
  box-sizing: border-box;
}

.header-top span {
  float: left;
  font-size: 28px;
  margin-top: 21px;
  margin-right: 40px;
  color: #f2901c;
  font-weight: bold;
}

.header-top .search-box {
  position: relative;
  float: left;
  width: 492px;
  height: 32px;
  margin-top: 20px;
  background-color: #fff;
}

.header-top .search-box input {
  width: calc(492px - 37px);
  height: 100%;
  border: none;
  font-size: 14px;
  padding-left: 14px;
  box-sizing: border-box;
}

.header-top .search-box i {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 37px;
  height: 100%;
  background-image: url(../img/music_search_icon.png);
  background-size: 37px 32px;
}

.header-top .logo {
  position: absolute;
  top: 14px;
  right: 384px;
}

.header-top .logo img {
  width: 180px;
  height: 92px;
}

.header-nav {
  height: calc(115px - 75px);
}

.header-nav a {
  float: left;
  margin-right: 25px;
  margin-top: 13px;
  font-size: 14px;
  color: #555d53;
}

.header-nav a:hover {
  background-color: #555d53;
  color: #fff;
}

/* 3.主体 */
main {
  padding-top: 40px;
}

.content {
  float: left;
  width: 675px;
}

.content-carousel {
  padding-bottom: 27px;
}

.content-carousel img {
  width: 100%;
  height: 250px;
}

.popular-singers {
  margin-bottom: 37px;
}

.popular-singers h4 {
  font-size: 17px;
  font-weight: normal;
  height: 34px;
  line-height: 34px;
  border-bottom: 2px solid #02a682;
  box-sizing: border-box;
}

.popular-singers small {
  font-size: 14px;
  color: #999;
}

.popular-singers ul {
  padding: 0px 5px 20px 29px;
  background-color: #f5f7f8;
}

.popular-singers-item {
  float: left;
  padding-top: 14px;
  margin-right: 23px;
  text-align: center;
}

.popular-singers-item:nth-child(-n+4) {
  margin-bottom: 10px;
}

.popular-singers-item a {
  display: block;
  border: 5px solid #fff;
  margin-bottom: 10px;
  box-shadow: 0 0 0 1px #DFDCDC;
}

.popular-singers-item img {
  width: 125px;
  height: 125px;
}

.popular-singers-item h5 {
  color: #138a65;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 5px;
}

.popular-singers-item span {
  color: #999;
  font-size: 14px;
}

.new-disc-title {
  height: 32px;
  line-height: 32px;
  border-bottom: 2px solid #02a682;
  box-sizing: border-box;
}

.new-disc-title h4 {
  float: left;
  font-size: 17px;
  font-weight: normal;
  margin-right: 20px;
}

.new-disc-title p {
  float: left;
  font-size: 14px;
  color: #999;
}

.new-disc-title p small {
  color: #138a65;
}

.new-disc-title p i {
  color: #333;
}

.new-disc-title a {
  float: right;
  font-size: 14px;
  color: #999;
}

.new-disc ul {
  padding: 0px 5px 20px 29px;
  background-color: #f5f7f8;
}

.new-disc-item {
  float: left;
  width: 135px;
  padding-top: 14px;
  margin-right: 23px;
}

.new-disc-item a {
  display: block;
  width: 100%;
  height: 135px;
}

.new-disc-item img {
  width: 100%;
  height: 100%;
}

.new-disc-item h5 {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-weight: normal;
  color: #138a65;
  font-size: 15px;
  margin-top: 13px;
  margin-bottom: 10px;
}

.new-disc-item p {
  color: #999;
  font-size: 13px;
  margin-bottom: 35px;
}

.recent-song-list {
  margin-top: 37px;
}

.recent-song-list-title {
  height: 32px;
  line-height: 32px;
  border-bottom: 2px solid #02a682;
  box-sizing: border-box;
}

.recent-song-list-title h4 {
  float: left;
  font-size: 17px;
  font-weight: normal;
  margin-right: 20px;
}

.recent-song-list-title p {
  float: left;
  font-size: 14px;
  color: #999;
}

.recent-song-list-title p small {
  color: #138a65;
}

.recent-song-list-title p i {
  color: #333;
}

.recent-song-list-title a {
  float: right;
  font-size: 14px;
  color: #999;
}

.recent-song-list ul {
  padding-left: 15px;
  padding-top: 15px;
  background-color: #f5f7f8;
}

.recent-song-list-item {
  position: relative;
  float: left;
  width: 315px;
  height: 166px;
  padding: 16px 13px 16px 63px;
  box-sizing: border-box;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #EEE;
  font-size: 14px;
  line-height: 19px;
}

.recent-song-list-item i {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 41px;
  height: 41px;
  background-image: url(../upload/recent_song_list_01.jpg);
  background-size: 41px 41px;
}

.recent-song-list-item:nth-child(2) i {
  background-image: url(../upload/recent_song_list_02.jpg);
}

.recent-song-list-item:nth-child(3) i {
  background-image: url(../upload/recent_song_list_03.jpg);
}

.recent-song-list-item:nth-child(4) i {
  background-image: url(../upload/recent_song_list_04.jpg);
}

.recent-song-list-item:nth-child(5) i {
  background-image: url(../upload/recent_song_list_05.jpg);
}

.recent-song-list-item:nth-child(6) i {
  background-image: url(../upload/recent_song_list_06.jpg);
}

.recent-song-list-item h5 {
  color: #138a65;
  font-size: 15px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: normal;
  margin-bottom: 8px;
}

.recent-song-list-item a:hover {
  color: #fff;
  background-color: #555d53;
}

.recent-song-list-item span {
  color: #999;
}

.aside {
  float: right;
  width: 300px;
}

.carousel-aside img {
  width: 100%;
  height: 250px;
}

.join {
  margin-top: 20px;
}

.join-count-item {
  float: left;
  background-color: #f5f7f8;
  margin-right: 2px;
  width: 98px;
  height: 57px;
  text-align: center;
}

.join-count-item h5 {
  font-size: 17px;
  padding: 8px 0;
}

.join-count-item h5 a {
  color: #138a65;
}

.join-count-item h5 a:hover {
  color: #fff;
  background-color: #138a65;
}

.join-count-item p {
  font-size: 15px;
}

.join .button {
  display: block;
  height: 40px;
  background-color: #139d72;
  color: #fff;
  margin-top: 3px;
  border-radius: 3px;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
  border: 1px solid #138a65;
  box-sizing: border-box;
}

.popular-music-class {
  margin-top: 27px;
}

.popular-music-class-title {
  height: 28px;
  line-height: 28px;
}

.popular-music-class-title h5 {
  float: left;
  font-size: 15px;
  font-weight: normal;
}

.popular-music-class-title a {
  float: right;
  color: #999;
  font-size: 13px;
}

.popular-music-class-item {
  border-bottom: 1px solid #f8f6f6;
}

.popular-music-class-item a {
  float: left;
  width: 150px;
  height: 40px;
  line-height: 40px;
  padding-left: 6px;
  border-top: 1px solid #f8f6f6;
  border-right: 1px solid #f8f6f6;
  box-sizing: border-box;
  font-size: 15px;
  color: #138a65;
}

.popular-music-class-item a:hover {
  background-color: #f5f7f8;
}

.single-list {
  margin-top: 24px;
}

.single-list-title {
  height: 37px;
  line-height: 37px;
  border-bottom: 1px solid #e4e2e2;
  box-sizing: border-box;
}

.single-list-title h4 {
  float: left;
  font-size: 15px;
  font-weight: normal;
}

.single-list-title .button {
  float: right;
  width: 90px;
  height: 25px;
  font-size: 13px;
  color: #fff;
  background-color: #139d72;
  border: 1px solid #138a65;
  box-sizing: border-box;
  text-align: center;
  line-height: 25px;
  border-radius: 3px;
  margin-top: 4px;
}

.single-list-nav {
  height: 36px;
  line-height: 36px;
  color: #999;
  font-size: 13px;
}

.single-list-nav small {
  color: #138a65;
}

.single-list-nav i {
  color: #333;
}

.single-list-item {
  position: relative;
  height: 60px;
  padding-left: 60px;
}

.single-list-item:hover {
  background-color: #f5f7f8;
}

.single-list-item i {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-image: url(../upload/popular_singers_item_01.jpg);
  background-size: 48px 48px;
}

.single-list-item:nth-child(2) i {
  background-image: url(../upload/single_list_item_02.jpg);
}

.single-list-item:nth-child(3) i {
  background-image: url(../upload/popular_singers_item_03.jpg);
}

.single-list-item:nth-child(4) i {
  background-image: url(../upload/single_list_item_04.jpg);
}

.single-list-item:nth-child(5) i {
  background-image: url(../upload/single_list_item_05.jpg);
}

.single-list-item:nth-child(6) i {
  background-image: url(../upload/single_list_item_06.jpg);
}

.single-list-item:nth-child(7) i {
  background-image: url(../upload/popular_singers_item_04.jpg);
}

.single-list-item:nth-child(8) i {
  background-image: url(../upload/single_list_item_08.jpg);
}

.single-list-item:nth-child(9) i {
  background-image: url(../upload/single_list_item_09.jpg);
}

.single-list-item:nth-child(10) i {
  background-image: url(../upload/popular_singers_item_06.jpg);
}

.single-list-item h5 {
  font-size: 15px;
  color: #138a65;
  font-weight: normal;
  padding: 12px 0px 8px;
}

.single-list-item span {
  font-size: 13px;
  color: #999;
}

.single-list-item small {
  position: absolute;
  top: 14px;
  right: 14px;
  color: #e6e6e6;
  font-size: 35px;
}
